@font-face {
    font-family: "flaticon_raon";
    src: url("./flaticon_raon.ttf?442a4ceeb9b88daa44c9fa525b4e3b02") format("truetype"),
url("./flaticon_raon.woff?442a4ceeb9b88daa44c9fa525b4e3b02") format("woff"),
url("./flaticon_raon.woff2?442a4ceeb9b88daa44c9fa525b4e3b02") format("woff2"),
url("./flaticon_raon.eot?442a4ceeb9b88daa44c9fa525b4e3b02#iefix") format("embedded-opentype"),
url("./flaticon_raon.svg?442a4ceeb9b88daa44c9fa525b4e3b02#flaticon_raon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon_raon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-chevron:before {
    content: "\f101";
}
.flaticon-chevron-1:before {
    content: "\f102";
}
.flaticon-right-arrow:before {
    content: "\f103";
}
.flaticon-left-arrow:before {
    content: "\f104";
}
.flaticon-chevron-2:before {
    content: "\f105";
}
.flaticon-chevron-3:before {
    content: "\f106";
}
.flaticon-right-arrow-1:before {
    content: "\f107";
}
.flaticon-left-arrow-1:before {
    content: "\f108";
}
.flaticon-telegram:before {
    content: "\f109";
}
.flaticon-like:before {
    content: "\f10a";
}
.flaticon-like-1:before {
    content: "\f10b";
}
.flaticon-dislike:before {
    content: "\f10c";
}
.flaticon-dislike-1:before {
    content: "\f10d";
}
.flaticon-eye:before {
    content: "\f10e";
}
.flaticon-view:before {
    content: "\f10f";
}
.flaticon-eye-1:before {
    content: "\f110";
}
.flaticon-visibility-off:before {
    content: "\f111";
}
.flaticon-price-tag:before {
    content: "\f112";
}
.flaticon-price-tag-1:before {
    content: "\f113";
}
.flaticon-heart:before {
    content: "\f114";
}
.flaticon-heart-1:before {
    content: "\f115";
}
.flaticon-star:before {
    content: "\f116";
}
.flaticon-star-1:before {
    content: "\f117";
}
.flaticon-star-2:before {
    content: "\f118";
}
.flaticon-shopping-cart:before {
    content: "\f119";
}
.flaticon-shopping-cart-1:before {
    content: "\f11a";
}
.flaticon-bag:before {
    content: "\f11b";
}
.flaticon-shopping-cart-2:before {
    content: "\f11c";
}
.flaticon-user:before {
    content: "\f11d";
}
.flaticon-user-1:before {
    content: "\f11e";
}
.flaticon-lock:before {
    content: "\f11f";
}
.flaticon-unlock:before {
    content: "\f120";
}
.flaticon-play-button-arrowhead:before {
    content: "\f121";
}
.flaticon-play:before {
    content: "\f122";
}
.flaticon-search-interface-symbol:before {
    content: "\f123";
}
.flaticon-search:before {
    content: "\f124";
}
.flaticon-plus:before {
    content: "\f125";
}
.flaticon-minus:before {
    content: "\f126";
}
.flaticon-close:before {
    content: "\f127";
}
.flaticon-menu:before {
    content: "\f128";
}
.flaticon-menu-1:before {
    content: "\f129";
}
.flaticon-menu-2:before {
    content: "\f12a";
}
.flaticon-bookmark:before {
    content: "\f12b";
}
.flaticon-bookmark-1:before {
    content: "\f12c";
}
.flaticon-folder:before {
    content: "\f12d";
}
.flaticon-folder-1:before {
    content: "\f12e";
}
.flaticon-diamond:before {
    content: "\f12f";
}
.flaticon-diamond-1:before {
    content: "\f130";
}
.flaticon-check:before {
    content: "\f131";
}
.flaticon-check-mark:before {
    content: "\f132";
}
.flaticon-draw-check-mark:before {
    content: "\f133";
}
.flaticon-check-mark-1:before {
    content: "\f134";
}
.flaticon-customer-service:before {
    content: "\f135";
}
.flaticon-technical-support:before {
    content: "\f136";
}
.flaticon-support:before {
    content: "\f137";
}
.flaticon-people:before {
    content: "\f138";
}
.flaticon-users-group:before {
    content: "\f139";
}
.flaticon-black-circle:before {
    content: "\f13a";
}
.flaticon-3d-cube:before {
    content: "\f13b";
}
.flaticon-cube-3d:before {
    content: "\f13c";
}
.flaticon-straight-quotes:before {
    content: "\f13d";
}
.flaticon-right-quote:before {
    content: "\f13e";
}
.flaticon-quotes:before {
    content: "\f13f";
}
.flaticon-quote:before {
    content: "\f140";
}
.flaticon-bell:before {
    content: "\f141";
}
.flaticon-bell-1:before {
    content: "\f142";
}
.flaticon-secure-shield:before {
    content: "\f143";
}
.flaticon-shield:before {
    content: "\f144";
}
.flaticon-tap:before {
    content: "\f145";
}
.flaticon-tap-1:before {
    content: "\f146";
}
.flaticon-fingerprint-scan:before {
    content: "\f147";
}
.flaticon-fingerprint:before {
    content: "\f148";
}
.flaticon-brain:before {
    content: "\f149";
}
.flaticon-brainstorm:before {
    content: "\f14a";
}
.flaticon-credit-card:before {
    content: "\f14b";
}
.flaticon-credit-cards:before {
    content: "\f14c";
}
.flaticon-award:before {
    content: "\f14d";
}
.flaticon-trophy:before {
    content: "\f14e";
}
.flaticon-award-symbol:before {
    content: "\f14f";
}
.flaticon-award-1:before {
    content: "\f150";
}
.flaticon-download:before {
    content: "\f151";
}
.flaticon-file:before {
    content: "\f152";
}
.flaticon-download-circular-button:before {
    content: "\f153";
}
.flaticon-fast-delivery:before {
    content: "\f154";
}
.flaticon-gift-box-with-a-bow:before {
    content: "\f155";
}
.flaticon-giftbox:before {
    content: "\f156";
}
.flaticon-bar-chart:before {
    content: "\f157";
}
.flaticon-bar-chart-1:before {
    content: "\f158";
}
.flaticon-pie-chart:before {
    content: "\f159";
}
.flaticon-pie-chart-1:before {
    content: "\f15a";
}
.flaticon-diagram:before {
    content: "\f15b";
}
.flaticon-layer:before {
    content: "\f15c";
}
.flaticon-layer-1:before {
    content: "\f15d";
}
.flaticon-information:before {
    content: "\f15e";
}
.flaticon-info:before {
    content: "\f15f";
}
.flaticon-worldwide:before {
    content: "\f160";
}
.flaticon-world:before {
    content: "\f161";
}
.flaticon-envelope:before {
    content: "\f162";
}
.flaticon-email:before {
    content: "\f163";
}
.flaticon-email-1:before {
    content: "\f164";
}
.flaticon-phone-call:before {
    content: "\f165";
}
.flaticon-telephone:before {
    content: "\f166";
}
.flaticon-maps-and-flags:before {
    content: "\f167";
}
.flaticon-maps-and-flags-1:before {
    content: "\f168";
}
.flaticon-pin:before {
    content: "\f169";
}
.flaticon-marker:before {
    content: "\f16a";
}
.flaticon-thumbtacks:before {
    content: "\f16b";
}
.flaticon-thumbtacks-1:before {
    content: "\f16c";
}
.flaticon-placeholder:before {
    content: "\f16d";
}
.flaticon-home:before {
    content: "\f16e";
}
.flaticon-home-1:before {
    content: "\f16f";
}
.flaticon-video-camera:before {
    content: "\f170";
}
.flaticon-video-camera-1:before {
    content: "\f171";
}
.flaticon-camera:before {
    content: "\f172";
}
.flaticon-photo-camera:before {
    content: "\f173";
}
.flaticon-refresh:before {
    content: "\f174";
}
.flaticon-edit:before {
    content: "\f175";
}
.flaticon-pen:before {
    content: "\f176";
}
.flaticon-share:before {
    content: "\f177";
}
.flaticon-share-1:before {
    content: "\f178";
}
.flaticon-printer:before {
    content: "\f179";
}
.flaticon-calendar:before {
    content: "\f17a";
}
.flaticon-calendar-1:before {
    content: "\f17b";
}
.flaticon-diskette:before {
    content: "\f17c";
}
.flaticon-gallery:before {
    content: "\f17d";
}
.flaticon-musical-note:before {
    content: "\f17e";
}
.flaticon-taget:before {
    content: "\f17f";
}
.flaticon-plane:before {
    content: "\f180";
}
.flaticon-mail:before {
    content: "\f181";
}
.flaticon-airplane:before {
    content: "\f182";
}
.flaticon-comment:before {
    content: "\f183";
}
.flaticon-chat:before {
    content: "\f184";
}
.flaticon-trend:before {
    content: "\f185";
}
.flaticon-chart-down:before {
    content: "\f186";
}
.flaticon-up-right-arrow:before {
    content: "\f187";
}
.flaticon-upper-left-arrow:before {
    content: "\f188";
}
.flaticon-flash:before {
    content: "\f189";
}
.flaticon-flash-1:before {
    content: "\f18a";
}
.flaticon-plus-1:before {
    content: "\f18b";
}
.flaticon-facebook-app-symbol:before {
    content: "\f18c";
}
.flaticon-youtube:before {
    content: "\f18d";
}
.flaticon-whatsapp:before {
    content: "\f18e";
}
.flaticon-instagram:before {
    content: "\f18f";
}
.flaticon-messenger:before {
    content: "\f190";
}
.flaticon-tik-tok:before {
    content: "\f191";
}
.flaticon-pinterest:before {
    content: "\f192";
}
.flaticon-twitter:before {
    content: "\f193";
}
.flaticon-skype:before {
    content: "\f194";
}
.flaticon-linkedin:before {
    content: "\f195";
}
.flaticon-instagram-1:before {
    content: "\f196";
}
.flaticon-image:before {
    content: "\f197";
}
.flaticon-visual-communication:before {
    content: "\f198";
}
.flaticon-motion-graphic:before {
    content: "\f199";
}
.flaticon-resizing:before {
    content: "\f19a";
}
.flaticon-design-process:before {
    content: "\f19b";
}
.flaticon-moodboard:before {
    content: "\f19c";
}
.flaticon-draft:before {
    content: "\f19d";
}
.flaticon-photo-editing:before {
    content: "\f19e";
}
.flaticon-graphic-design:before {
    content: "\f19f";
}
.flaticon-mixed-media:before {
    content: "\f1a0";
}
.flaticon-typography:before {
    content: "\f1a1";
}
.flaticon-paint-roll:before {
    content: "\f1a2";
}
.flaticon-pen-tool:before {
    content: "\f1a3";
}
.flaticon-brainstorming:before {
    content: "\f1a4";
}
.flaticon-workspace:before {
    content: "\f1a5";
}
.flaticon-paint-bucket:before {
    content: "\f1a6";
}
.flaticon-png-file-format:before {
    content: "\f1a7";
}
.flaticon-logo-design:before {
    content: "\f1a8";
}
.flaticon-color-picker:before {
    content: "\f1a9";
}
.flaticon-drawing-tablet:before {
    content: "\f1aa";
}
.flaticon-canvas:before {
    content: "\f1ab";
}
.flaticon-video-editor:before {
    content: "\f1ac";
}
.flaticon-calibration:before {
    content: "\f1ad";
}
.flaticon-abstract-art:before {
    content: "\f1ae";
}
.flaticon-briefing:before {
    content: "\f1af";
}
.flaticon-coffee-mug:before {
    content: "\f1b0";
}
.flaticon-jpg-file-format:before {
    content: "\f1b1";
}
.flaticon-rgb:before {
    content: "\f1b2";
}
.flaticon-layers:before {
    content: "\f1b3";
}
.flaticon-sketchbook:before {
    content: "\f1b4";
}
.flaticon-portrait:before {
    content: "\f1b5";
}
.flaticon-portfolio:before {
    content: "\f1b6";
}
.flaticon-move:before {
    content: "\f1b7";
}
.flaticon-still-life:before {
    content: "\f1b8";
}
.flaticon-watercolors:before {
    content: "\f1b9";
}
.flaticon-spray-can:before {
    content: "\f1ba";
}
.flaticon-web-design:before {
    content: "\f1bb";
}
.flaticon-psd-file-format:before {
    content: "\f1bc";
}
.flaticon-svg-file-format:before {
    content: "\f1bd";
}
.flaticon-poster:before {
    content: "\f1be";
}
.flaticon-oil-paint:before {
    content: "\f1bf";
}
.flaticon-vr-glasses:before {
    content: "\f1c0";
}
.flaticon-graphic-design-1:before {
    content: "\f1c1";
}
.flaticon-eps-extension:before {
    content: "\f1c2";
}
.flaticon-send-file:before {
    content: "\f1c3";
}
.flaticon-research:before {
    content: "\f1c4";
}
.flaticon-palette:before {
    content: "\f1c5";
}
.flaticon-color-palette:before {
    content: "\f1c6";
}
.flaticon-ui-design:before {
    content: "\f1c7";
}
.flaticon-airbrush:before {
    content: "\f1c8";
}
.flaticon-paint-brushes:before {
    content: "\f1c9";
}
.flaticon-artificial-intelligence:before {
    content: "\f1ca";
}
.flaticon-coding:before {
    content: "\f1cb";
}
.flaticon-ideas:before {
    content: "\f1cc";
}
.flaticon-graduation-hat:before {
    content: "\f1cd";
}
.flaticon-chatbot:before {
    content: "\f1ce";
}
.flaticon-cpu:before {
    content: "\f1cf";
}
.flaticon-brain-1:before {
    content: "\f1d0";
}
.flaticon-development:before {
    content: "\f1d1";
}
.flaticon-automation:before {
    content: "\f1d2";
}
.flaticon-cpu-1:before {
    content: "\f1d3";
}
.flaticon-desktop-computer:before {
    content: "\f1d4";
}
.flaticon-humanoid:before {
    content: "\f1d5";
}
.flaticon-eye-2:before {
    content: "\f1d6";
}
.flaticon-cpu-2:before {
    content: "\f1d7";
}
.flaticon-engineering:before {
    content: "\f1d8";
}
.flaticon-thinking:before {
    content: "\f1d9";
}
.flaticon-brain-2:before {
    content: "\f1da";
}
.flaticon-chatbot-1:before {
    content: "\f1db";
}
.flaticon-humanoid-1:before {
    content: "\f1dc";
}
.flaticon-brain-3:before {
    content: "\f1dd";
}
.flaticon-cloud-intelligence:before {
    content: "\f1de";
}
.flaticon-cloud-computing:before {
    content: "\f1df";
}
.flaticon-magnifying-glass:before {
    content: "\f1e0";
}
.flaticon-laptop:before {
    content: "\f1e1";
}
.flaticon-settings:before {
    content: "\f1e2";
}
.flaticon-chip:before {
    content: "\f1e3";
}
.flaticon-gear:before {
    content: "\f1e4";
}
.flaticon-chatbot-2:before {
    content: "\f1e5";
}
.flaticon-smartphone:before {
    content: "\f1e6";
}
.flaticon-flow-diagram:before {
    content: "\f1e7";
}
.flaticon-magnifying-glass-1:before {
    content: "\f1e8";
}
.flaticon-cpu-3:before {
    content: "\f1e9";
}
.flaticon-brain-server:before {
    content: "\f1ea";
}
.flaticon-conversation:before {
    content: "\f1eb";
}
.flaticon-driverless-car:before {
    content: "\f1ec";
}
.flaticon-brain-4:before {
    content: "\f1ed";
}
.flaticon-robot:before {
    content: "\f1ee";
}
.flaticon-cpu-4:before {
    content: "\f1ef";
}
.flaticon-smartphone-1:before {
    content: "\f1f0";
}
.flaticon-flow-diagram-1:before {
    content: "\f1f1";
}
.flaticon-cloud-computing-1:before {
    content: "\f1f2";
}
.flaticon-server:before {
    content: "\f1f3";
}
.flaticon-book:before {
    content: "\f1f4";
}
.flaticon-smartphone-2:before {
    content: "\f1f5";
}
.flaticon-computing-cloud:before {
    content: "\f1f6";
}
.flaticon-cloud-processing:before {
    content: "\f1f7";
}
.flaticon-gear-1:before {
    content: "\f1f8";
}
.flaticon-eye-3:before {
    content: "\f1f9";
}
.flaticon-brain-5:before {
    content: "\f1fa";
}
.flaticon-cloud-processing-1:before {
    content: "\f1fb";
}
