// Features Area CSS
.features-area {
    .shapes {
        .shape1 {
            bottom: auto;
            right: 19%;
            top: 13%;
        }
    }
}
.features-inner-box {
    &::before {
        background-color: #f6f5f0;
        border-radius: 30px;
        position: absolute;
        height: 65%;
        z-index: -1;
        content: '';
        right: 0;
        left: 0;
        top: 0;
    }
    .section-title {
        margin-bottom: 30px;
    }
    .features-image {
        max-width: 870px;
        border-radius: 30px;
        margin: {
            left: auto;
            right: auto;
            bottom: 70px;
        };
        img {
            filter: drop-shadow(0px 6px 34px rgba(0, 0, 0, 0.1));
            border-radius: 30px;
        }
    }
    .shapes {
        img {
            &:nth-child(1) {
                top: 27%;
                left: 6%;
                z-index: -1;
                position: absolute;
                pointer-events: none;
                animation: movetopbounce 2s linear infinite;
            }
            &:nth-child(2) {
                right: 8%;
                bottom: 6%;
                z-index: -1;
                position: absolute;
                pointer-events: none;
                animation: moveleftbounce 2s linear infinite;
            }
        }
    }
}
.feature-box {
    position: relative;
    padding-top: 10px;

    .icon {
        background: linear-gradient(180deg, #E8FFF2 0.27%, #C8FFE9 101.27%);
        border-radius: 10px;
        position: absolute;
        text-align: center;
        height: 40px;
        width: 40px;
        left: 0;
        top: 0;

        img {
            left: 0;
            right: 0;
            top: 50%;
            position: absolute;
            transform: translateY(-50%);
            margin: {
                left: auto;
                right: auto;
            };
        }
        &.bg2 {
            background: linear-gradient(180deg, #FFEDFF 0.27%, #FFC3F9 101.04%);
        }
        &.bg3 {
            background: linear-gradient(180deg, #FFFCD9 0.27%, #FFEBA8 77.84%, #FFE699 99.96%);
        }
        &.bg4 {
            background: linear-gradient(180deg, #FFEEF1 1.01%, #FFC6CF 100.81%);
        }
    }
    h4 {
        margin-bottom: 20px;
        padding-left: 55px;
        font: {
            size: 20px;
            weight: 600;
        };
    }
}
.feature-item {
    background: linear-gradient(135deg, rgba(0, 128, 239, 0.1) 0%, rgba(0, 214, 218, 0.1) 100%);
    border-radius: 10px;
    padding: 40px 30px;

    img {
        margin-bottom: 15px;
    }
    h4 {
        margin-bottom: 15px;
        font: {
            size: 20px;
            weight: 600;
        };
    }
    .link-btn {
        margin-top: 5px;
        position: relative;
        padding-right: 21px;
        display: inline-block;
        letter-spacing: 0.05em;
        font: {
            size: 15px;
            weight: 500;
        };
        i {
            top: 50%;
            right: -2px;
            line-height: 1;
            font-size: 20px;
            margin-top: -.5px;
            position: absolute;
            transform: translateY(-50%);
        }
    }
    &.bg2 {
        background: linear-gradient(135deg, rgba(127, 38, 198, 0.1) 0%, rgba(245, 3, 134, 0.1) 100%);
    }
    &.bg3 {
        background: linear-gradient(135deg, rgba(254, 88, 74, 0.1) 0%, rgba(249, 196, 42, 0.1) 100%);
    }
    &.bg4 {
        background: linear-gradient(135deg, rgba(42, 217, 70, 0.1) 0%, rgba(35, 227, 181, 0.1) 100%);
    }
}
.features-tabs {
    .react-tabs {
        .react-tabs__tab-list {
            margin-bottom: 40px;
            text-align: center;
            display: block;
            border: none;

            .react-tabs__tab {
                display: inline-block;
                border: none;
                margin-bottom: 0;
                box-shadow: unset;
                padding: 12px 28px;
                border-radius: 30px;
                letter-spacing: 0.05em;
                color: var(--blackColor);
                background-color: transparent;
                font: {
                    size: var(--fontSize);
                    weight: 500;
                };
                &.react-tabs__tab--selected {
                    background-color: #f4f4f4;
                }
                &:hover {
                    color: var(--primaryColor);
                }
            }
        }
    }
    
    .react-tabs__tab-panel {
        .image {
            border-radius: 20px;

            img {
                border-radius: 20px;
            }
        }
        .content {
            padding-left: 50px;

            h3 {
                margin-bottom: 12px;
                font-size: 32px;

                span {
                    font-weight: 700;
                }
            }
            .features-list {
                padding-left: 0;
                list-style-type: none;
                margin: {
                    bottom: 15px;
                    top: 25px;
                };
                li {
                    color: var(--paragraphColor);
                    letter-spacing: 0.05em;
                    margin-bottom: 16px;
                    position: relative;
                    padding-left: 31px;

                    i {
                        background: var(--secondarGradientColor);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        transform: translateY(-50%);
                        position: absolute;
                        font-size: 20px;
                        margin-top: 1px;
                        line-height: 1;
                        top: 50%;
                        left: 0;
                    }
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
            .default-btn {
                margin-top: 20px;
            }
        }
    }
 
    .shapes {
        .shape1 {
            bottom: -6%;
            right: auto;
            z-index: 1;
            top: auto;
            left: -3%;
        }
        .shape2 {
            top: -27%;
            right: 3%;
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    // Features Area CSS
    .features-inner-box {
        padding-top: 0 !important;

        &::before {
            display: none;
        }
        .section-title {
            margin-bottom: 30px;
        }
        .features-image {
            max-width: 100%;
            border-radius: 10px;
            margin-bottom: 30px;

            img {
                border-radius: 10px;
            }
        }
    }
    .feature-box {
        padding-top: 12px;

        .icon {
            border-radius: 5px;
        }
        h4 {
            margin-bottom: 22px;
            padding-left: 50px;
            font-size: 16px;
        }
    }
    .feature-item {
        padding: 25px 20px;
    
        img {
            margin-bottom: 5px;
        }
        h4 {
            margin-bottom: 10px;
            font-size: 16px;
        }
        .link-btn {
            font-size: 14px;
            margin-top: -5px;
            padding-right: 20px;
        }
    }
    .features-tabs {
        .react-tabs {
            .react-tabs__tab-list {
                margin-bottom: 15px;
    
                .react-tabs__tab {
                    margin-bottom: 10px;
                    padding: 9px 15px;
                    font-size: 14px;
                }
            }
        }
        .react-tabs__tab-panel {
            .image {
                border-radius: 10px;

                img {
                    border-radius: 10px;
                }
            }
            .content {
                padding-left: 0;
                margin-top: 25px;

                h3 {
                    margin-bottom: 10px;
                    font-size: 22px;
                }
                .features-list {
                    margin: {
                        bottom: 15px;
                        top: 15px;
                    };
                    li {
                        margin-bottom: 12px;
                        padding-left: 25px;

                        i {
                            font-size: 16px;
                            margin-top: -1px;
                        }
                    }
                }
                .default-btn {
                    margin-top: 0;
                }
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    // Features Area CSS
    .features-inner-box {
        padding-top: 0 !important;

        &::before {
            display: none;
        }
        .section-title {
            margin-bottom: 35px;
        }
        .features-image {
            max-width: 100%;
            border-radius: 20px;
            margin-bottom: 35px;

            img {
                border-radius: 20px;
            }
        }
    }
    .feature-box {
        h4 {
            margin-bottom: 22px;
            font-size: 18px;
        }
    }
    .feature-item {
        padding: 25px 20px;
    
        img {
            margin-bottom: 10px;
        }
        h4 {
            margin-bottom: 10px;
            font-size: 18px;
        }
        .link-btn {
            margin-top: 0;
        }
    }
    .features-tabs {
        .react-tabs {
            .react-tabs__tab-list {
                margin-bottom: 15px;
    
                .react-tabs__tab {
                    margin-bottom: 10px;
                    padding: 11px 25px;
                    font-size: 15px;
                }
            }
        }
        .react-tabs__tab-panel {
            .content {
                padding-left: 0;
                margin-top: 25px;

                h3 {
                    margin-bottom: 10px;
                    font-size: 26px;
                }
                .features-list {
                    margin: {
                        bottom: 15px;
                        top: 20px;
                    };
                    li {
                        margin-bottom: 12px;
                        padding-left: 28px;

                        i {
                            font-size: 18px;
                            margin-top: 0;
                        }
                    }
                }
                .default-btn {
                    margin-top: 5px;
                }
            }
        }
    }
}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    // Features Area CSS
    .features-inner-box {
        .features-image {
            margin-bottom: 50px;
            max-width: 820px;
        }
        .shapes {
            display: none;
        }
    }
    .feature-box {
        h4 {
            font-size: 19px;
        }
    }
    .feature-item {
        padding: 25px 15px;
    
        img {
            margin-bottom: 10px;
        }
        h4 {
            margin-bottom: 10px;
            font-size: 19px;
        }
        p {
            font-size: 15px;
        }
        .link-btn {
            margin-top: 0;
        }
    }
    .features-tabs {
        .react-tabs {
            .react-tabs__tab-list {
                margin-bottom: 30px;
    
                .react-tabs__tab {
                    padding: 10px 20px;
                    font-size: 15px;
                }
            }
        }
        .react-tabs__tab-panel {
            .content {
                padding-left: 0;

                h3 {
                    margin-bottom: 11px;
                    font-size: 28px;
                }
                .features-list {
                    margin: {
                        bottom: 15px;
                        top: 20px;
                    };
                    li {
                        margin-bottom: 13px;
                        padding-left: 27px;

                        i {
                            font-size: 18px;
                        }
                    }
                }
                .default-btn {
                    margin-top: 5px;
                }
            }
        }
        .shapes {
            display: none;
        }
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {

    // Features Area CSS
    .features-tabs {
        .react-tabs {
            .react-tabs__tab-list {
                margin-bottom: 30px;

                .react-tabs__tab {
                    padding: 12px 25px;
                }
            }
        }
        .react-tabs__tab-panel {
            .content {
                padding-left: 15px;

                h3 {
                    font-size: 30px;
                }
                .features-list {
                    margin-top: 20px;

                    li {
                        margin-bottom: 15px;
                    }
                }
                .default-btn {
                    margin-top: 10px;
                }
            }
        }
        .shapes {
            .shape1 {
                left: 0;
            }
        }
    }

}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {

    // Features Area CSS
    .features-tabs {
        .shapes {
            .shape1 {
                left: -5%;
            }
        }
    }

}