// Integration Area CSS
.integration-area {
    .container-fluid {
        padding: {
            left: 30px;
            right: 30px;
        };
    }
    &.bg-252029 {
        &::before {
            top: 0;
            right: 0;
            z-index: -1;
            content: '';
            width: 300px;
            height: 300px;
            opacity: 0.35;
            position: absolute;
            filter: blur(152px);
            background: var(--secondarGradientColor);
        }
    }
}
.integration-inner-box {
    border-radius: 30px;
    background: {
        color: var(--blackColor);
        image: url(../../images/bg/bg3.jpg);
        position: center center;
        repeat: no-repeat;
        size: contain;
    };
    padding: {
        top: 100px;
        bottom: 10px;
    };
    .item {
        margin-bottom: 90px;
    }
}
.integrationSwiper, .integrationSwiper2 {
    .item {
        background-color: #3a2f42;
        border-radius: 10px;
        padding: 30px 20px;
    }
    .swiper-wrapper {
        -webkit-transition-timing-function: linear !important;
        -o-transition-timing-function: linear !important;
        transition-timing-function: linear !important;
    }
}
.integration-circle {
    text-align: center;
    position: relative;
    padding: {
        bottom: 33px;
        top: 38px;
    };
    .main-image {
        animation: rotate linear 100s infinite;
    }
    .images {
        div {
            width: 75px;
            height: 75px;
            position: absolute;
            border-radius: 50%;
            background-color: var(--whiteColor);
            box-shadow: 0px 2px 64px rgba(0, 0, 0, 0.12);

            img {
                left: 0;
                right: 0;
                top: 50%;
                position: absolute;
                transform: translateY(-50%);
                margin: {
                    left: auto;
                    right: auto;
                };
            }
            &:nth-child(1) {
                top: 0;
                left: 45%;
            }
            &:nth-child(2) {
                left: 15px;
                top: 35%;
            }
            &:nth-child(3) {
                left: 50%;
                bottom: 0;
            }
            &:nth-child(4) {
                right: 7%;
                bottom: 22%;
            }
            &:nth-child(5) {
                left: 22%;
                bottom: 25%;
            }
            &:nth-child(6) {
                right: 21%;
                top: 28%;
            }
            &:nth-child(7) {
                left: 32%;
                top: 33%;
            }
            &:nth-child(8) {
                right: 35%;
                bottom: 31%;
            }
            &:nth-child(9) {
                top: 41%;
                left: 42%;
                width: 125px;
                height: 125px;
                box-shadow: 0px 2px 64px rgba(0, 0, 0, 0.06);
            }
        }
    }
}
.integration-section-title {
    &.section-title {
        max-width: 100%;
        text-align: start;
        padding-left: 100px;
        margin: {
            left: 0;
            right: 0;
            bottom: 0;
        };
        p {
            max-width: 100%;
            margin: {
                left: 0;
                right: 0;
            };
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    // Integration Area CSS
    .integration-area {
        .container-fluid {
            padding: {
                left: calc(var(--bs-gutter-x) * .5);
                right: calc(var(--bs-gutter-x) * .5);
            };
        }
        &.bg-252029 {
            &::before {
                display: none;
            }
        }
    }
    .integration-inner-box {
        border-radius: 10px;
        padding: {
            top: 60px;
            left: 15px;
            right: 15px;
            bottom: 30px;
        };
        .item {
            margin-bottom: 30px;
        }
    }
    .integrationSwiper, .integrationSwiper2 {
        .item {
            border-radius: 5px;
            padding: 15px 10px;
        }
        &.mb-25 {
            &:first-child {
                margin-bottom: 10px;
            }
        }
    }
    .integration-circle {
        padding: {
            bottom: 0;
            top: 0;
        };
        .main-image {
            display: none;
        }
        .images {
            div {
                position: relative;
                top: 0 !important;
                left: 0 !important;
                right: 0 !important;
                bottom: 0 !important;
                display: inline-block;
                width: 62px !important;
                height: 62px !important;
                margin: {
                    top: 5px;
                    left: 5px;
                    right: 5px;
                };
                img {
                    width: 25px;
                }
            }
        }
    }
    .integration-section-title {
        &.section-title {
            padding-left: 0;
            margin-bottom: 20px;
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {

    // Integration Area CSS
    .integrationSwiper, .integrationSwiper2 {
        &.mb-25 {
            &:first-child {
                margin-bottom: 15px;
            }
        }
    }

}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    // Integration Area CSS
    .integration-area {
        .container-fluid {
            padding: {
                left: calc(var(--bs-gutter-x) * .5);
                right: calc(var(--bs-gutter-x) * .5);
            };
        }
    }
    .integration-inner-box {
        border-radius: 20px;
        padding: {
            top: 80px;
            left: 15px;
            right: 15px;
            bottom: 50px;
        };
        .item {
            margin-bottom: 30px;
        }
    }
    .integrationSwiper, .integrationSwiper2 {
        .item {
            padding: 20px 15px;
        }
        &.mb-25 {
            &:first-child {
                margin-bottom: 20px;
            }
        }
    }
    .integration-circle {
        .images {
            div {
                &:nth-child(2) {
                    left: 0;
                }
                &:nth-child(4) {
                    right: 4%;
                }
            }
        }
    }
    .integration-section-title {
        &.section-title {
            padding-left: 0;
            text-align: center;
            margin-bottom: 35px;

            p {
                max-width: 630px;
                margin: {
                    left: auto;
                    right: auto;
                };
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    // Integration Area CSS
    .integration-area {
        .container-fluid {
            padding: {
                left: calc(var(--bs-gutter-x) * .5);
                right: calc(var(--bs-gutter-x) * .5);
            };
        }
    }
    .integration-inner-box {
        padding: {
            top: 100px;
            bottom: 60px;
        };
        .item {
            margin-bottom: 40px;
        }
    }
    .integrationSwiper, .integrationSwiper2 {
        .item {
            padding: 25px 15px;
        }
    }
    .integration-circle {
        padding: {
            bottom: 30px;
            top: 30px;
        };
        .images {
            div {
                width: 60px;
                height: 60px;
    
                img {
                    width: 25px;
                }
                &:nth-child(1) {
                    left: 45%;
                }
                &:nth-child(2) {
                    left: -4%;
                }
                &:nth-child(4) {
                    right: 10px;
                }
                &:nth-child(5) {
                    left: 21%;
                    bottom: 24%;
                }
                &:nth-child(6) {
                    right: 18%;
                    top: 26%;
                }
                &:nth-child(7) {
                    left: 31%;
                    top: 32%;
                }
                &:nth-child(9) {
                    top: 43%;
                    left: 43%;
                    width: 75px;
                    height: 75px;
                }
            }
        }
    }
    .integration-section-title {
        &.section-title {
            padding-left: 25px;
        }
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {

    // Integration Area CSS
    .integration-inner-box {
        padding: {
            bottom: 50px;
        };
        .item {
            margin-bottom: 50px;
        }
    }
    .integration-circle {
        .images {
            div {
                &:nth-child(9) {
                    width: 115px;
                    height: 115px;
                }
            }
        }
    }
    .integration-section-title {
        &.section-title {
            padding-left: 35px;
        }
    }

}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {

    // Integration Area CSS
    .integration-area {
        .container-fluid {
            padding: {
                left: 50px;
                right: 50px;
            };
        }
    }

}